/* static/css/styles.css */
body {
    background-image: url('../images/music_background.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    color: #ffffff;
}

.container {
    background-color: rgba(0, 0, 0, 0.7);
    padding: 20px;
    border-radius: 10px;
}

h1, h2 {
    font-family: 'Trebuchet MS', sans-serif;
    text-shadow: 2px 2px 4px #000000;
}

.form-control, .btn {
    border-radius: 25px;
}

.card {
    background-color: rgba(255, 255, 255, 0.9);
    color: #000;
}

.card-img-top.album-cover {
    max-width: 100%;
    height: auto;
}
/* static/css/styles.css */

/* Existing styles */

.note {
    background-color: rgba(255, 255, 255, 0.95); /* Increase opacity for better visibility */
    color: #000; /* Change text color */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5); /* Add a subtle shadow for better contrast */
}
/* static/css/styles.css */
.list-group-item {
    background-color: rgba(255, 255, 255, 0.9); /* Adjust the background color */
    color: #000; /* Adjust the text color */
    border-color: rgba(0, 0, 0, 0.1); /* Adjust the border color */
}
